h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ====================== COMPONENTS ========================= */
.logo-text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */

  color: #4d5ae5;
}
.logo-text2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* NAVY BLUE */

  color: #2e2f42;
}

.header2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */

  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */

  color: #2e2f42;
}
.header3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */

  text-align: center;
  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.header3-body {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}

/* ====================== /COMPONENTS ========================= */

/* ====================== HEADER ========================= */
.page-header-container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-text {
  margin-right: 76px;
}

.menu-item:not(:last-child) {
  padding-right: 40px;
}

.menu-contacts-item:not(:last-child) {
  padding-right: 40px;
}

.menu-list {
  display: flex;
  align-items: center;
}

.menu-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: #2e2f42;
}
.contact-email {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}
.contact-phone-number {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;

  /* SLATE */

  color: #434455;
}
/* ====================== /HEADER ========================= */

/* ====================== SECTION №1 HERO ========================= */
.hero {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  background-color: #434455;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  width: 494px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 56px;
  line-height: 60px;

  text-align: center;
  letter-spacing: 0.02em;

  color: #ffffff;
}

/* ====================== /SECTION №1 HERO ========================= */

/* ====================== SECTION №2 QUALITIES (table) ==============*/

/* ====================== /SECTION №2 QUALITIES (table) ==============*/

/* ====================== SECTION №3 OUR PRODUCTS ==============*/

/* ====================== /SECTION №3 OUR PRODUCTS ==============*/

/* ====================== SECTION №4 EMPLOYEES ==============*/

/* ====================== /SECTION №4 EMPLOYEES ==============*/

/* ====================== FOOTER ========================= */
.footer-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.02em;

  /* CORNFLOWER */

  color: #e7e9fc;
}
/* ====================== /FOOTER ========================= */
